.Layer-2 {
    width: 1595px;
    height: 1005px;
    padding: 49px 11px 86px 33px;
}

.Rounded-Rectangle-2-copy-2 {
    width: 377px;
    height: 150px;
    margin: 5px 16px 27px 9px;
    padding: 50px 131px 57px 135px;
    border-radius: 4px;
    background-color: #fff;
}