.home {
   
    margin-top: 4vw;
}

.card {
    border-color: black;
}

.barChart {
    width: 14px;
    height: 129px;
    margin: 0 26px 0 33px;
    /* background-color: #a3a1fb; */
}

.lineChart {
    width: 50vw;

}

.paiChart {
    width: 212.6px;
    height: 213px;
    margin: 0 0 0 41px;
    object-fit: contain;
}
#errorPai{
    width: 212.6px;
    height: 213px;
    margin: 0 0 0 41px;
    object-fit: contain;
}